<a href="https://colab.research.google.com/github/Dangarita83/PROGCOM-A/blob/main/Funciones_lambda_o_anonimos_David_Angarita.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LAMBDA o funciones anonimas
* declaran funciones pequeÃ±as, sencillas y acceso rapido
* puede contener solo **UNA** expresion, por lo que no son las mas adecuadas para funciones con instrucciones de flujo
* ** las funciones lambda puedene tener n numero de argumentos pero solo una expresion**.


se define


```
lambda (args o parametros):argumento
```

In [1]:
# Funcion tradicional para calcular el cuadro de un numero:

def cuadrado (num):
  return num **2

print(cuadrado(10))

100

In [2]:
# Funcion lambda para calcular el cuadrado de un numero

cuadrado = (lambda  num: num**2)

print(cuadrado(10))

100

In [5]:
# Funcion que si un numero elevado a la n es >10 me regrese un tue, y si no, un false

def numero(x,n):
  if x**n > 10:
    return True
  else:
    return False

In [6]:
print(numero(3,2))

False

In [7]:
# Funcion lambda que si un numero elevado a la n es >10 me regrese un tue, y si no, un false

cuadrado10 = lambda x,n: True if x**n > 10 else False

print(cuadrado10(3,8))

True

Usando la funcion MAP

In [23]:
dias = ["Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"]
temp = [10.5,33.8,27.6,24.7,33.2,28.9,27.3]

diassemana = {dias:temp for (dias,temp) in zip(dias,temp)}
print(diassemana)

{'Lunes': 10.5, 'Martes': 33.8, 'Miercoles': 27.6, 'Jueves': 24.7, 'Viernes': 33.2, 'Sabado': 28.9, 'Domingo': 27.3}

In [16]:
clima = dict(diassemana)
clima

{'Lunes': 30.5,
 'Martes': 33.8,
 'Miercoles': 27.6,
 'Jueves': 24.7,
 'Viernes': 33.2,
 'Sabado': 28.9,
 'Domingo': 27.3}

In [24]:
def temperatura (temp):
  resultado = []
  for i in temp:
    if i < 20.0: resultado.append((i,"Temperatura fria"))
    elif i >= 20.0 and i < 30: resultado.append((i,"Temperatura templada"))
    else: resultado.append((i, "Temperatura caliente"))
  return resultado
temperatura(temp)

[(10.5, 'Temperatura fria'),
 (33.8, 'Temperatura caliente'),
 (27.6, 'Temperatura templada'),
 (24.7, 'Temperatura templada'),
 (33.2, 'Temperatura caliente'),
 (28.9, 'Temperatura templada'),
 (27.3, 'Temperatura templada')]

Declarando la funcion MAP



```
map(funcion a maper, parametros a mapear)
```

In [26]:
## Mismo ejercicio, con funciones anonimas

def clima2(l1,l2):
  y2 = temperatura(l2)
  return dict(map(lambda x,y:(x,y),l1,y2))
clima2(dias,temp)

{'Lunes': (10.5, 'Temperatura fria'),
 'Martes': (33.8, 'Temperatura caliente'),
 'Miercoles': (27.6, 'Temperatura templada'),
 'Jueves': (24.7, 'Temperatura templada'),
 'Viernes': (33.2, 'Temperatura caliente'),
 'Sabado': (28.9, 'Temperatura templada'),
 'Domingo': (27.3, 'Temperatura templada')}

In [33]:
a1 = lambda x: "Temperatura ambiente" if (x>=20 and x<30) else "Temperatura caliente"
a2 = lambda x: "Temperatura fria" if x <18 else a1(x)
t1 = []

for i in temp: t1.append((i, a2(i)))
t1

[(10.5, 'Temperatura fria'),
 (33.8, 'Temperatura caliente'),
 (27.6, 'Temperatura ambiente'),
 (24.7, 'Temperatura ambiente'),
 (33.2, 'Temperatura caliente'),
 (28.9, 'Temperatura ambiente'),
 (27.3, 'Temperatura ambiente')]